USE [GcompleteQuery]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CodeCustomer] [varchar](50) NOT NULL,
	[FullNameCustomer] [varchar](255) NOT NULL,
	[RNC_Customer] [varchar](15) NULL,
	[EmailCustomer] [varchar](100) NULL,
	[PhoneCustomer] [varchar](20) NULL,
	[AddressCustomer] [varchar](255) NULL,
	[CityCustomer] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NULL,
	[LocationCustomer] [varchar](255) NULL,
	[AutDescuentoCustomer] [decimal](18, 2) NOT NULL,
	[TotalDescontadoCustomer] [decimal](18, 2) NOT NULL,
	[TotalGastadoCustomer] [decimal](18, 2) NOT NULL,
	[TotalGananciasCustomer] [decimal](18, 2) NOT NULL,
	[AreaCustomer] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Distributor]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Distributor](
	[CodeDistributor] [varchar](50) NOT NULL,
	[NameDistributor] [varchar](255) NOT NULL,
	[ContactEmail] [varchar](100) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeDistributor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[CodeDetailInvoice] [int] IDENTITY(1,1) NOT NULL,
	[CodeInvoiceHeader] [int] NOT NULL,
	[CodeProduct] [varchar](50) NOT NULL,
	[NameProduct] [varchar](255) NULL,
	[UnitOfMeasure] [varchar](50) NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CostProduct] [decimal](18, 2) NOT NULL,
	[TaxRate] [decimal](5, 4) NOT NULL,
	[TotalLine] [decimal](18, 2) NOT NULL,
	[StatusDetail] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeDetailInvoice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceHeader]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceHeader](
	[CodeInvoiceHeader] [int] IDENTITY(1,1) NOT NULL,
	[DateHeader] [datetime] NOT NULL,
	[TotalAmountHeader] [decimal](18, 2) NOT NULL,
	[DueDateHeader] [date] NULL,
	[PaymentMethodCode] [int] NOT NULL,
	[CodeCustomer] [varchar](50) NULL,
	[NCF] [varchar](30) NULL,
	[RNC] [varchar](15) NULL,
	[CashRegisterNumber] [varchar](50) NULL,
	[SubtotalHeader] [decimal](18, 2) NOT NULL,
	[TotalTaxHeader] [decimal](18, 2) NOT NULL,
	[DiscountRate] [decimal](6, 4) NOT NULL,
	[StatusCode] [varchar](10) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeInvoiceHeader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[CodePayment] [int] IDENTITY(1,1) NOT NULL,
	[CodeInvoiceHeader] [int] NOT NULL,
	[CodeMethod] [int] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[AmountPaid] [decimal](18, 2) NOT NULL,
	[IsAnnulled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodePayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethod]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethod](
	[CodeMethod] [int] IDENTITY(1,1) NOT NULL,
	[NameMethod] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NameMethod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[CodeProduct] [varchar](50) NOT NULL,
	[NameProduct] [varchar](255) NOT NULL,
	[CodeDistributor] [varchar](50) NOT NULL,
	[PriceProduct] [decimal](18, 2) NOT NULL,
	[CostProduct] [decimal](18, 2) NOT NULL,
	[StockProduct] [int] NOT NULL,
	[TaxProduct] [decimal](5, 4) NOT NULL,
	[ExpiryDateProduct] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[UnitOfMeasure] [varchar](8) NULL,
	[LocationProduct] [varchar](30) NULL,
	[DiscountCostProduct] [decimal](18, 2) NULL,
	[DateInProduct] [date] NULL,
	[DiscountSellProduct] [decimal](18, 2) NULL,
	[LastPriceProduct] [decimal](18, 2) NULL,
	[UtilityProduct] [varchar](20) NULL,
	[MinimunExistenProduct] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockMovement]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockMovement](
	[CodeMovement] [int] IDENTITY(1,1) NOT NULL,
	[CodeProduct] [varchar](50) NOT NULL,
	[MovementDate] [datetime] NOT NULL,
	[MovementQuantity] [decimal](18, 2) NOT NULL,
	[MovementType] [varchar](50) NOT NULL,
	[NameMovement] [varchar](255) NOT NULL,
	[Operation] [char](1) NOT NULL,
	[MovementReason] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeMovement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0.00)) FOR [AutDescuentoCustomer]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0.00)) FOR [TotalDescontadoCustomer]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0.00)) FOR [TotalGastadoCustomer]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0.00)) FOR [TotalGananciasCustomer]
GO
ALTER TABLE [dbo].[Distributor] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InvoiceDetail] ADD  DEFAULT ('ACTIVA') FOR [StatusDetail]
GO
ALTER TABLE [dbo].[InvoiceHeader] ADD  CONSTRAINT [DF_InvoiceHeader_TotalAmountHeader]  DEFAULT ((0.00)) FOR [TotalAmountHeader]
GO
ALTER TABLE [dbo].[InvoiceHeader] ADD  DEFAULT ((0.00)) FOR [SubtotalHeader]
GO
ALTER TABLE [dbo].[InvoiceHeader] ADD  DEFAULT ((0.00)) FOR [TotalTaxHeader]
GO
ALTER TABLE [dbo].[InvoiceHeader] ADD  DEFAULT ((0.00)) FOR [DiscountRate]
GO
ALTER TABLE [dbo].[InvoiceHeader] ADD  DEFAULT ('ACTIVA') FOR [StatusCode]
GO
ALTER TABLE [dbo].[InvoiceHeader] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [IsAnnulled]
GO
ALTER TABLE [dbo].[PaymentMethod] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_StockProduct]  DEFAULT ((0.00)) FOR [StockProduct]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0.00)) FOR [TaxProduct]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[StockMovement] ADD  DEFAULT (getdate()) FOR [MovementDate]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetail_Header] FOREIGN KEY([CodeInvoiceHeader])
REFERENCES [dbo].[InvoiceHeader] ([CodeInvoiceHeader])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK_InvoiceDetail_Header]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_InvoiceHeader] FOREIGN KEY([CodeInvoiceHeader])
REFERENCES [dbo].[InvoiceHeader] ([CodeInvoiceHeader])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_InvoiceHeader]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentMethod] FOREIGN KEY([CodeMethod])
REFERENCES [dbo].[PaymentMethod] ([CodeMethod])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentMethod]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Distributor] FOREIGN KEY([CodeDistributor])
REFERENCES [dbo].[Distributor] ([CodeDistributor])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Distributor]
GO
ALTER TABLE [dbo].[StockMovement]  WITH CHECK ADD  CONSTRAINT [FK_StockMovement_Product] FOREIGN KEY([CodeProduct])
REFERENCES [dbo].[Product] ([CodeProduct])
GO
ALTER TABLE [dbo].[StockMovement] CHECK CONSTRAINT [FK_StockMovement_Product]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CHK_Amount_Positive] CHECK  (([AmountPaid]>(0)))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CHK_Amount_Positive]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CHK_Cost_NonNegative] CHECK  (([CostProduct]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CHK_Cost_NonNegative]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CHK_Price_Positive] CHECK  (([PriceProduct]>(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CHK_Price_Positive]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CHK_Stock_NonNegative] CHECK  (([StockProduct]>=(0.00)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CHK_Stock_NonNegative]
GO
ALTER TABLE [dbo].[StockMovement]  WITH CHECK ADD  CONSTRAINT [CHK_Operation_Type] CHECK  (([Operation]='A' OR [Operation]='S' OR [Operation]='E'))
GO
ALTER TABLE [dbo].[StockMovement] CHECK CONSTRAINT [CHK_Operation_Type]
GO
/****** Object:  StoredProcedure [dbo].[CancelInvoiceHeader]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CancelInvoiceHeader] -- Si ya existe, usa ALTER PROCEDURE
    @CodeInvoiceHeader INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;

    BEGIN TRY
        -- ... (Actualizar estado de cabecera) ...

        DECLARE @CodeProduct VARCHAR(50);
        DECLARE @Quantity DECIMAL(18, 2);
        DECLARE @movementName VARCHAR(255); 
        
        SET @movementName = 'Reversion por Anulacion de Factura ' + CAST(@CodeInvoiceHeader AS VARCHAR(10));
        
        
        DECLARE detail_cursor CURSOR FOR
        SELECT CodeProduct, Quantity
        FROM InvoiceDetail
        WHERE CodeInvoiceHeader = @CodeInvoiceHeader;

        OPEN detail_cursor;
        FETCH NEXT FROM detail_cursor INTO @CodeProduct, @Quantity;

        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Aquí @MovementQuantity ahora acepta DECIMAL, no se necesita CAST.
            EXEC SP_INSERT_StockMovement_AND_UpdateProductStock 
                 @CodeProduct = @CodeProduct, 
                 @MovementQuantity = @Quantity, 
                 @MovementType = 'ANULACION', 
                 @NameMovement = @movementName, 
                 @Operation = 'E';

            FETCH NEXT FROM detail_cursor INTO @CodeProduct, @Quantity;
        END

        CLOSE detail_cursor;
        DEALLOCATE detail_cursor;

        COMMIT TRANSACTION;
        
        SELECT 1 AS Success;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        THROW;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[InsertInvoiceDetail]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertInvoiceDetail]
(
    @CodeInvoiceHeader INT,
    @CodeProduct VARCHAR(50),
    @NameProduct VARCHAR(255),
    @UnitOfMeasure VARCHAR(50),
    @Quantity DECIMAL(18, 2),  -- ¡IMPORTANTE! Debe ser DECIMAL
    @Price DECIMAL(18, 2),
    @CostProduct DECIMAL(18, 2),
    @TaxRate DECIMAL(5, 4),    -- ¡IMPORTANTE! Debe ser DECIMAL(5, 4)
    @TotalLine DECIMAL(18, 2),
    @StatusDetail VARCHAR(15)
)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO InvoiceDetail (
        CodeInvoiceHeader, CodeProduct, NameProduct, UnitOfMeasure, Quantity, Price, 
        CostProduct, TaxRate, TotalLine, StatusDetail
    )
    VALUES (
        @CodeInvoiceHeader, @CodeProduct, @NameProduct, @UnitOfMeasure, @Quantity, @Price,
        @CostProduct, @TaxRate, @TotalLine, @StatusDetail
    );
    -- No retorna ID, solo éxito.
END
GO
/****** Object:  StoredProcedure [dbo].[InsertInvoiceHeader]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertInvoiceHeader]
(
    @DateHeader DATETIME,
    @CodeCustomer VARCHAR(50),
    @DueDateHeader DATE,
    @PaymentMethodCode INT,
    @DiscountRate DECIMAL(6, 4),
    @NCF VARCHAR(30),
    @RNC VARCHAR(15),
    @CashRegisterNumber VARCHAR(50),
    @TotalTaxHeader DECIMAL(18, 2),
    @SubtotalHeader DECIMAL(18, 2),
    @TotalAmountHeader DECIMAL(18, 2),
    @StatusCode VARCHAR(10),
    -- Nuevo: Parámetro de salida para devolver el ID
    @NewInvoiceID INT OUTPUT 
)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO InvoiceHeader (
        DateHeader, CodeCustomer, DueDateHeader, PaymentMethodCode, DiscountRate, NCF, RNC, 
        CashRegisterNumber, TotalTaxHeader, SubtotalHeader, TotalAmountHeader, StatusCode
    )
    VALUES (
        @DateHeader, @CodeCustomer, @DueDateHeader, @PaymentMethodCode, @DiscountRate, @NCF, @RNC,
        @CashRegisterNumber, @TotalTaxHeader, @SubtotalHeader, @TotalAmountHeader, @StatusCode
    );

    -- Asigna el ID generado a la variable de salida
    SET @NewInvoiceID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[InsertStockMovement]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertStockMovement] -- Nombre corregido para coincidir con el C# DAL
    @CodeProduct VARCHAR(50),
    @MovementQuantity DECIMAL(18, 2), -- ¡AHORA ES DECIMAL!
    @MovementType VARCHAR(50),
    @NameMovement VARCHAR(255),
    @Operation CHAR(1)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @NewMovementID INT; 

    -- Inicia la transacción
    BEGIN TRANSACTION;

    BEGIN TRY
        -- 1. Verificar si hay stock suficiente si es SALIDA ('S')
        IF @Operation = 'S'
        BEGIN
            DECLARE @CurrentStock DECIMAL(18, 2); 
            SELECT @CurrentStock = StockProduct FROM Product WHERE CodeProduct = @CodeProduct;
            
            -- La cantidad para salida debe ser negativa.
            IF (@CurrentStock + @MovementQuantity) < 0.00 -- Comparación DECIMAL
            BEGIN
                -- Genera un error y aborta la transacción
                RAISERROR('Regla de Negocio: No hay suficiente stock para esta salida.', 16, 1);
                ROLLBACK TRANSACTION;
                RETURN -1;
            END
        END
        
        -- 2. Insertar el registro del movimiento
        INSERT INTO StockMovement (CodeProduct, MovementQuantity, MovementType, NameMovement, Operation)
        VALUES (@CodeProduct, @MovementQuantity, @MovementType, @NameMovement, @Operation);
        
        -- Obtener el ID del movimiento insertado
        SET @NewMovementID = SCOPE_IDENTITY();

        -- 3. Actualizar el stock del producto
        UPDATE Product
        SET StockProduct = StockProduct + @MovementQuantity
        WHERE CodeProduct = @CodeProduct;

        -- Confirmar la transacción
        COMMIT TRANSACTION;
        
        -- Retornar el ID del movimiento
        SELECT @NewMovementID AS NewID;
    
    END TRY
    BEGIN CATCH
        -- Si algo falla, revertir los cambios
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Relanzar el error para la capa superior
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ReadCustomer]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReadCustomer]
    @CodeCustomer VARCHAR(50)
AS
BEGIN
    SELECT
        -- Mapeo 1: SOLUCIONA "idCustomer"
        CodeCustomer AS IdCustomer, 
        
        -- Campos principales
        CodeCustomer,
        FullNameCustomer,
        
        -- Mapeo 2: SOLUCIONA RNC_Customer vs RncCustomer
        RNC_Customer AS RncCustomer, 
        
        EmailCustomer,
        PhoneCustomer,
        
        -- Mapeo 3: SOLUCIONA "areaCustomer"
        AreaCustomer,
        
        AddressCustomer,
        CityCustomer,
        LocationCustomer,
        
        -- Campos de auditoría/estado
        IsActive,
        CreationDate,
        CreatedBy,

        -- Campos Decimales
        AutDescuentoCustomer,
        TotalDescontadoCustomer,
        TotalGastadoCustomer,
        TotalGananciasCustomer
        
    FROM
        Customer
    WHERE
        CodeCustomer = @CodeCustomer;
END

GO
/****** Object:  StoredProcedure [dbo].[ReadInvoiceDetailsByHeaderId]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReadInvoiceDetailsByHeaderId]
    @CodeInvoiceHeader INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        CodeDetailInvoice,
        CodeInvoiceHeader,
        CodeProduct,
        -- Mapeo de columnas a los nombres usados en C# (MapInvoiceDetailFromReader)
        NameProduct,
        UnitOfMeasure,
        Quantity AS quantitySold, -- ⚠️ USAR ALIAS para que coincida con C#
        Price AS unitPrice,       -- ⚠️ USAR ALIAS
        CostProduct,
        TaxRate AS taxRate,       -- ⚠️ USAR ALIAS
        TotalLine AS totalLine,   -- ⚠️ USAR ALIAS
        StatusDetail AS statusDetail -- ⚠️ USAR ALIAS
    FROM 
        InvoiceDetail
    WHERE 
        CodeInvoiceHeader = @CodeInvoiceHeader;
END

GO
/****** Object:  StoredProcedure [dbo].[ReadInvoiceHeaderById]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReadInvoiceHeaderById]
    @CodeInvoiceHeader INT
AS
BEGIN
    SELECT 
        CodeInvoiceHeader, 
        DateHeader, 
        CodeCustomer, 
        DueDateHeader, 
        PaymentMethodCode, 
        DiscountRate, 
        NCF, 
        RNC, 
        CashRegisterNumber, 
        SubtotalHeader, 
        TotalTaxHeader, 
        TotalAmountHeader, 
        StatusCode, 
        CreationDate 
    FROM InvoiceHeader
    WHERE CodeInvoiceHeader = @CodeInvoiceHeader;
END

GO
/****** Object:  StoredProcedure [dbo].[ReadProduct]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ReadProduct]
    @codeProduct VARCHAR(50) = NULL,
    @nameProduct VARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        CodeProduct,
        NameProduct,
        PriceProduct,
        CostProduct,
        StockProduct,
        TaxProduct,
        UnitOfMeasure,
        ExpiryDateProduct,
        LocationProduct,
        CodeDistributor,
        DiscountCostProduct,
        DateInProduct,
        DiscountSellProduct,
        LastPriceProduct,
        UtilityProduct,
        MinimunExistenProduct,
        IsActive 
    FROM 
        Product
    WHERE
        (CodeProduct = @codeProduct OR @codeProduct IS NULL)
        AND (NameProduct LIKE '%' + @nameProduct + '%' OR @nameProduct IS NULL)
        AND IsActive = 1; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ANULAR_Payment]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ANULAR_Payment]
    @CodePayment INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- NOTA: La lógica de negocio más avanzada podría revertir el stock si la factura está relacionada con una venta.
    -- Aquí solo marcamos el pago como anulado.

    UPDATE Payment
    SET IsAnnulled = 1
    WHERE CodePayment = @CodePayment
    AND IsAnnulled = 0; -- Solo anular si no estaba ya anulado

    -- Retorna 1 si se actualizó una fila, 0 si no se encontró o ya estaba anulado
    IF @@ROWCOUNT > 0
        SELECT 1 AS Success;
    ELSE
        SELECT 0 AS Success;

END

GO
/****** Object:  StoredProcedure [dbo].[SP_ANULAR_Product]    Script Date: 12/8/2025 3:14:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ANULAR_Product]
    @CodeProduct VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Lógica de Negocio sugerida en BLL: No se debe eliminar si tiene historial de ventas.
    -- Aquí se debería agregar la verificación antes de la actualización si la tienes implementada.
    
    UPDATE Product
    SET IsActive = 0
    WHERE CodeProduct = @CodeProduct
    AND IsActive = 1;

    IF @@ROWCOUNT > 0
        SELECT 1 AS Success;
    ELSE
        SELECT 0 AS Success;
END

GO
